<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/base.css" />
<script src="/javascripts/jquery.js" type="text/javascript" ></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/javascripts/tg-jquery.js"></script>

<title>Tim Gourley :: Web Developer - Ruby, Merb, Rails, and more</title>
</head>
<body>
<div id="container">

	<div id="navigation">
		<ul>
		  <% Page.navigation.each do |page| %>
		    <li><%= link_to page.title, resource(page) %></li>
		  <% end %>
		  <% if session.user %>
		    <li><%= link_to 'Pages', resource(:pages) %></li>
		    <li><a href="/logout">Logout</a></li>
		  <% else %>
		    <li><a href="/login">Login</a></li>
		  <% end %>
		</ul>
	</div>
	<div id="content">
		<div id="main">
      <%#= message[:notice] %>
      <%= catch_content :for_layout %>
    </div>

  </div>
  <div id="footer">
    Copyright &copy; 2008 Tim Gourley. All Rights Reserved. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a>.
  </div>
</div>
</body>
</html>